/*CARRITO DE COMPRAS*/

.h1Carrito {
    margin-bottom: 0;
}

.carritoVacioYComprado {
    p {
        font-size: 1.5rem;
        margin: 20px;
        margin-bottom: 30px;
    }

    button {
        font-size: 1.2rem;
        margin: 20px;
        margin-bottom: 200px;
        margin-top: auto;
        background-color: $colorPrincipal;
        padding: 10px;
        border: $colorPrincipal solid 1px;
        transition: all 0.3s;
        border-radius: 15px;

        &:hover {
            background-color: $colorSecundario;
            color: $letraClara;
            border: none;
        }

        a {
            text-decoration: none;
            color: $letraClara;
            font-size: 1.4rem;
        }
    }
}

.contenedorCarrito {
    display: flex;
    justify-content: center;
    width: 75vw;
    flex-direction: column;
    margin-top: 30px;

    .contenedorCarritoProductos {
        margin-bottom: 20px;


        .titulosCarrito {
            background-color: $colorPrincipal;
            color: $letraClara;
        }

        tr {
            border: lightgray 1px solid;
            border-radius: 40px;
            text-align: center;
            padding: 10px;

            td,
            th {
                text-align: center;
                padding: 10px;

                h2 {
                    font-size: 1.3rem;
                }

                h3 {
                    font-size: 1.1rem;
                }

                button {
                    @include botonPrincipal;
                    width: 2rem;
                    height: 2rem;
                    border: lightgray 1px solid;
                    padding: 1px;
                }

                .btnCarritoX {
                    border-radius: 8px;
                }
            }

            .celdaProducto {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .imgCarrito {
                    width: 120px;
                    height: 100px;
                }

                h3 {
                    color: #FC6736;
                    font-weight: bold;
                }

            }

            .celdaCantidad {

                div {
                    display: flex;
                    justify-content: center;

                    h3 {
                        background-color: white;
                        border: lightgray 1px solid;
                        padding: 5px 15px;
                        height: 2rem;
                    }

                    .btnCarritoIzq {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }

                    .btnCarritoDer {
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }

                }
            }
        }

        .celdaTotal {
            background-color: lightgray;

            h3 {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }

    .contenedorBtnFinalizarCompra {
        display: flex;
        justify-content: end;
        margin-bottom: 30px;

        .btnCarritoFinalizar {

            @include botonPrincipal;
            font-size: 1.3rem;
            border-radius: 15px;
            padding: 10px 15px;
        }
    }
}


.contenedorFormularioCarrito {

    h2 {
        margin-bottom: 40px;
        margin-top: 0;

    }

    .formNombreApellido,
    .formPais,
    .formCalle,
    .formDatosContacto {
        display: flex;

        input {
            width: 40vw;
        }
    }

    input {
        height: 3.1rem;
        padding: 10px;
        border: 2px solid gray;
        border-radius: 5px;
        font-size: 1.1rem;
        margin-bottom: 30px;
        margin-right: 30px;

        &:focus {
            outline: $colorPrincipal solid 3px;
        }

    }

    .btnFormCarrito {
        display: flex;
        justify-content: end;


        .botonFormulario {
            @include botonPrincipal;
            font-size: 1.4rem;
            border-radius: 15px;
            width: 220px;
            height: 55px;


            &:active {
                border: $colorPrincipal 1px solid;
                font-size: 1.3rem;
            }
        }
    }
}