/*RESPONSIVE*/

/*GENERAL*/

@media (max-width: 768px) {
    html {
        font-size: 78% !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 85% !important;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 100% !important;
    }
}

/*HEADER*/

@media (max-width: 992px) {
    .dropdown-menu {
        background-color: $colorPrincipal;
    }

    .dropdown-item {
        color: $letraClara;
    }

    .dropdown-divider {
        display: none;
    }

    .logo {
        width: 8.5vh;
    }

    .contenedorInputBuscador {     
        .btnCerrarBuscador {
            margin-left: 0.2rem;
        }
    }
}


@media (max-width: 700px) {
    .contenedorInputBuscador { 
        .inputBuscador {
            width: 93%;
            }
    }
}

@media (max-width: 505px) {
    .contenedorInputBuscador { 
        .inputBuscador {
            width: 88%;
            }
    }
}


@media (min-width: 992px) {
    .nav-item {
        text-decoration: underline;
        text-decoration-color: $colorPrincipal;
        text-decoration-thickness: 5px;
        text-underline-offset: 10px;
        transition: all 0.3s;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $letraClara;
            text-decoration-thickness: 5px;
            text-underline-offset: 10px;
        }
    }

    .buscadorCarrito {
        margin-right: 5vw;
    }
}

/*FOOTER*/

@media (max-width: 992px) {
    .localBelgrano {
        grid-area: local1;
    }

    .localPalermo {
        grid-area: local2;
    }

    .localRecoleta {
        grid-area: local3;
    }

    .redes {
        grid-area: redes;
    }

    .mediosDePago {
        grid-area: mediosDePago;
    }

    .footer1 {
        display: grid;
        grid-template-areas: "none local1 .. redes" "none local2 .. mediosDePago" "none local3 .. mediosDePago";
    }
}

@media (max-width: 500px) {
    .localBelgrano {
        grid-area: local1;
    }

    .localPalermo {
        grid-area: local2;
    }

    .localRecoleta {
        grid-area: local3;
    }

    .redes {
        grid-area: redes;
    }

    .mediosDePago {
        grid-area: mediosDePago;
    }

    .footer1 {
        display: grid;
        grid-template-areas: "local1 . redes" "local2 . mediosDePago" "local3 . none";
    }
}

@media (max-width: 450px) {
    .footer1 {
        display: flex;
        flex-direction: column;
    }
}

/*HOME*/

@media (max-width: 800px) {
    .carouselHome img {
        height: 25rem;
    }
}

@media (max-width: 500px) {
    .iconosHome {
        display: none;
    }

    .carouselHome img {
        height: 17rem;
    }
}

/*SERVICIOS*/

@media (min-width: 993px) {
    .carouselVeterinaria {
        display: none;
    }
}

@media (max-width: 992px) {
    .imagenesVeterinaria {
        display: none;
    }

    .parrafoVeterinaria {
        display: none;
    }

    .listaVeterinaria {
        display: grid;
        grid-template-areas: "icono1 icono2 icono3" "icono4 icono5 icono6";
    }
}

@media (max-width: 768px) {
    .listaVeterinaria {
        display: grid;
        grid-template-areas: "icono1 icono2" "icono3 icono4" "icono5 icono6";
    }

    .peluqueria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        iframe {
            width: 90vw;
            height: 20rem;
        }
    }

    .carouselVeterinaria {
        img {
            height: 18rem;
            width: 15rem;
        }
    }
}

/*CONTACTO*/

@media (max-width: 992px) {

    .parrafoContacto {
        font-size: 1.8rem;
    }

    .redesFormulario {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;


        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {

                &[type="text"],
                &[type="email"] {
                    display: block;
                    width: 80vw;
                    height: 3.1rem;
                }
            }

            textarea {
                display: block;
                width: 80vw;
                height: 12rem;
            }

            .btnContacto {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .botonFormulario {
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
        }

        .redes {
            margin-bottom: 50px;

            h3 {
                text-align: center;
            }
        }
    }

    .mapaLocales {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mapa {
            margin-bottom: 30px;
            width: 90vw;
            height: 25rem;
            text-align: center;
            align-items: center;
        }

        .locales {
            margin-bottom: 20px;
        }

    }
}

/*CARRITO DE COMPRAS*/

@media (max-width: 850px) {
    .contenedorCarrito {
        width: 80vw;
        .contenedorCarritoProductos {
            tr {
                .celdaCantidad,
                .celdaProducto,
                .celdaPrecio,
                .celdaSubtotal {
                    h3 {
                        font-size: 1rem;
                    }

                }

                .celdaProducto {
                    .imgCarrito {
                        width: 100px;
                        height: 80px;
                    }
                }
            }

            .titulosCarrito {
                th{
                    h2 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .celdaProducto {
        .imgCarrito {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .contenedorCarrito {
        width: 85vw;
        .contenedorCarritoProductos {
            tr {

                .celdaCantidad,
                .celdaProducto,
                .celdaPrecio,
                .celdaSubtotal {
                    h3 {
                        font-size: 0.9rem;
                    }

                    button {
                        width: 1.8rem;
                        height: 1.8rem;
                    }

                }

                .btnCarritoX {
                    width: 1.8rem;
                        height: 1.8rem;
                }

                .celdaCantidad {
                    div {
                        h3 {

                            height: 1.8rem;
                        }
                    }
                }
            }

            .titulosCarrito {
                th{
                    h2 {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .contenedorCarrito {
        width: 95vw;
        .contenedorCarritoProductos {
            font-size: 80%;
            tr {

                td, th {
                    padding: 5px;
                }

                .celdaCantidad,
                .celdaProducto,
                .celdaPrecio, 
                .celdaSubtotal {
                    h3 {
                        font-size: 0.7rem;
                    }

                    button {
                        width: 1.6rem;
                        height: 1.6rem;
                    }

                }

                .btnCarritoX {
                    width: 1.6rem;
                        height: 1.6rem;
                }

                .celdaCantidad {
                    div {
                        h3 {
                            width: 1.6rem;
                            height: 1.6rem;
                            padding: 3px;
                        }
                    }
                }
            }

            .titulosCarrito {
                th{
                    h2 {
                        font-size: 0.8rem;
                    }
                }
            }
        }
       
        .btnCarritoFinalizar {    
            button {
                font-size: 1.1rem;
                padding: 7px 12px;
            }
        }
    }
}